{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/create_post.css') }}"
/>
<main class="main-content">
  <form
    class="post-form"
    action="{{ url_for('create_post') }}"
    method="POST"
    enctype="multipart/form-data"
  >
    <label for="titulo">Título</label>
    <input
      type="text"
      name="titulo"
      id="titulo"
      placeholder="Digite o título do post"
      required
    />

    <label for="conteudo">Conteúdo</label>
    <textarea
      name="conteudo"
      id="conteudo"
      placeholder="Escreva o conteúdo do post"
      rows="10"
      required
    ></textarea>

    <label for="imagem">Imagem</label>
    <input type="file" name="imagem" id="imagem" />

    <button type="submit">Criar Post</button>
  </form>
  <div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li style="color: red">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
</main>

{% endblock %}
