{% extends 'base.html' %} {% block content %}
<section class="container d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-sm">
    <h2 class="card-title mb-4">Login</h2>
    <form method="POST">
      <div class="form-group mb-3">
        <label for="username" class="form-label">Username:</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          required
        />
      </div>

      <div class="form-group mb-4">
        <label for="password" class="form-label">Password:</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          required
        />
      </div>

      <button type="submit" class="btn btn-outline-dark w-100">Login</button>

      <div class="d-flex justify-content-between mt-3">
        <a href="{{ url_for('register') }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-2">Registre-se</a>

        <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-2">Esqueci Minha Senha</a>
      </div>
    </form>

    <div class="mt-3">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-warning">
        <ul class="mb-0">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% endwith %}
    </div>
  </div>
</section>
{% endblock %}
