.posts {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
article {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
img{
    width: 200px;
    height: 100px;
}